<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623968979150-ce8j98hi92jvau85i3ij6alu8ago4qq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623968979150-ce8j98hi92jvau85i3ij6alu8ago4qq1</string>
	<key>API_KEY</key>
	<string>AIzaSyBjd_Dr-sCmhdcI8TrJZLHK0u-Sj1yIZzA</string>
	<key>GCM_SENDER_ID</key>
	<string>623968979150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.moboustt</string>
	<key>PROJECT_ID</key>
	<string>flash-chatios13--2020</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chatios13--2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623968979150:ios:0a6f9bd72b1914198ba89f</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chatios13--2020.firebaseio.com</string>
</dict>
</plist>